footer.footer
    .footer__logo
        img.footer__logo-img(src='/img/logo-primary-color.png' alt='My logo')
    ul.footer__nav
        li
            a(href='#') About us
        li
            a(href='#') Download app
        li
            a(href='#') Careers
        li
            a(href='#') Contact
    p.footer__copyright  &copy; by Jorge Sanchez. All rights reserved