header.header
    nav.nav.nav--trips
        a.nav__link(href='#') All departures
    .header__logo-box
        img.header__logo(src='img/logo-white.png' alt='Logo')
    nav.nav.nav--user
        a.nav__link.nav__link--logIn(href='#') Log in
        a.nav__link.nav__link--signUp(href='#') Sign up
        //
            <img src="img/christopher-campbell-rDEOVtE7vOs-unsplash.jpg" alt="User photo" class="nav__user-photo">
                <span>Jorge</span>