header.header
    nav.nav.nav--trips
        a.nav__link(href='/') All departures
    .header__logo-box
        img.header__logo(src='/img/logo-white.png' alt='Logo')
    nav.nav.nav--user
        if user
            a.nav__link.nav__link--logIn(href='#') Log out
            a.nav__link(href='#')
                img.nav__user-photo(src=`/img/users/${user.photo}` alt=`photo of ${user.name}`)
                span= user.name.split(' ')[0]
        else  
            a.nav__link.nav__link--logIn(href='/login') Log in
            a.nav__link.nav__link--signUp(href='/signup') Sign up       
