extends base

block content
  main.main
    .form-box.forgotPass-form
      h2.forgotPass-form__heading.form__heading
        | Reset your password
      p.forgotPass-form__text
        | Enter your accounts email to receive password reset email
      form.form.form--forgotPass(action='')
        .form__group
          label.form__label(for='email')  Email Address
          input#email.form__input(type='email' placeholder='you@example.com' required)
        .form__group
          button.btn.btn--blue Send password reset email