extends base

block content
  main.main
    .form-box.passwordReset-form
      h2.login-form__heading.form__heading
        | Reset your password
      form.form.form--resetPassword
        .form__group
          label.form__label(for='password') Password
          input#password.form__input(type='password' ,='' placeholder='••••••••' required, minlength='8')
        .form__group
          label.form__label(for='passwordConfirm') Confirm password
          input#passwordConfirm.form__input(type='password', placeholder='••••••••', required, minlength='8')
        .form__group.form__group--forgotPass
          button.btn.btn--logIn Reset password