extends base

block content
  main.main
    .form-box.login-form
      h2.login-form__heading.form__heading
        | Sign Up
      h3 You can use real email to be able to use features like forgot passord and reset password. Or you can use disposable emails like mailsac. If you use real email I recommend to update settings after you are done testing application.
      form.form.form--signup(action='')
        .form__group
          label.form__label(for='name')  Name
          input#name.form__input(type='text' , placeholder='your name' required='')
        .form__group
          label.form__label(for='email')  Email Address
          input#email.form__input(type='email' , placeholder='you@example.com' required)
        .form__group
          label.form__label(for='password') Password
          input#password.form__input(type='password' ,='' placeholder='••••••••' required, minlength='8')
        .form__group
          label.form__label(for='passwordConfirm') Confirm Password
          input#passwordConfirm.form__input(type='password' , placeholder='••••••••' required, minlength='8')
        .form__group
          button.btn.btn--logIn SIGN UP