extends baseEmail

block content
  p Hi #{firstName},
  p Welcome to Bullet-Train, thank you for joining our family!
  p Every season, we release a season special! Which includes entries to a few of the locations local tour spot. If it does not fit your schedule, you can also always book a regular trip.
  p If you need any help with booking your next train, please don't hesitate to contact me!
  p - Jorge Sanchez, CEO